In [3]:
import mpl_toolkits.basemap as Basemap
import matplotlib.pyplot as plt
import requests
import json
import pandas as pd

In [58]:
url = "https://data.ibb.gov.tr/api/3/action/datastore_search?resource_id=d1f7c258-bbc1-406f-9ab2-7a7c1797c673&limit=6441"
url2 = "https://data.ibb.gov.tr/api/3/action/datastore_search?resource_id=ac646b83-3b6f-4ca2-afb4-9071ab44d9af&limit=34910"
payload = {}
headers= {}


response = requests.request("GET", url, headers=headers, data = payload)
response2 = requests.request("GET", url2, headers=headers, data = payload)

result = json.loads(response.text)
result2 = json.loads(response2.text)

records = result["result"]["records"]
veriseti = pd.DataFrame(data = records)
df = veriseti.drop(veriseti.columns[[0,1,2,4,7,8,9,10,11,12]], axis=1)

records2 = result2["result"]["records"]
veriseti2 = pd.DataFrame(data = records2)
df2 = veriseti2.drop(veriseti2.columns[[0,1,4,5,7,8,9,10]], axis=1)

In [59]:
df2

      arrival_time departure_time         stop_headsign
0         05:47:07       05:47:27        PTT LOJMANLARI
1         05:47:42       05:48:02     DAVUTPAŞA CADDESİ
2         05:49:06       05:49:26    CEBE ALİ BEY SOKAK
3         05:50:40       05:51:00           ATLI ZİNCİR
4         05:51:35       05:51:55  YABANCI DİLLER OKULU
...            ...            ...                   ...
34905     08:11:08       08:11:08          Etiler Metro
34906     08:00:00       08:00:00          Etiler Metro
34907     08:12:19       08:12:19              Beşiktaş
34908     08:12:43       08:12:43              Ataşehir
34909     08:00:00       08:00:00             Uzunçayır

[34910 rows x 3 columns]